body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #77DD77;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.project {
    border: 2px solid #77DD77;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    background-color: #f8f9fa;
}

.project:hover:not(#future .project) {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(119, 221, 119, 0.5);
    background-color: #e6f7e6;
}

.project h3 a {
    text-decoration: none;
    color: #77DD77;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.project h3 a:hover {
    color: #5ba85b;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-bottom: 10px;
}

button {
    background: #77DD77;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #5ba85b;
}

/* Styles pour le carrousel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    border: 2px solid #77DD77;
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: rgba(119, 221, 119, 0.8);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-buttons button:hover {
    background: #5ba85b;
}
